html,body{
	height: 100%;
	width: 100%;
	font-family: sans-serif,'poppins';
	columns: #222;
}
.navbar{
	padding: .8rem;
}
.navbar-nav li{
	padding-right: 20px;
}
.nav-link{
	font-size: 1.1em !important;
}
.carousel-inner img{
	height: 100%;
	width: 100%;
}


.btn-primary{
	background-color: #6648b1;
	border: 1px solid #6648b1;

}
.btn-primary:hover{
	background-color: #563d7c;
	border: 1px solid #563d7c;
}
.jumbotron{
	padding: 1rem;
	border-radius: 0;
}
.padding{
	padding-bottom: 2rem;
}
.welcom{
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}
.welcom hr{
	border-top: 2px solid #646464;
	width: 95%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}
.fa-html5{
	color: #e54d26;
}
.fa-bold{
	color: #563d7c;
	font-size: 5em;
}
.fa-css3{
	color: #2163af;
}
.fa-html5, .fa-bold, .fa-css3{
	font-size: 4.5em;
	margin:1rem;
}
.fun{
	width: 100%;
	margin-bottom: 3rem;
}
.gif{
	max-width: 100%;
}
.social a{
	font-size: 4.5em;
	padding: 3rem;
}
.fa-facebook-official{
	color: #3b5998;
}
.fa-twitter{
	color: #00aced;
}
.fa-google-plus{
	color: #dd4b39;
}

.fa-youtube{
	color: #bb0000;
}
.fa-whatsapp{
	color: #25D366
}
.fa-snapchat-square{
	color: #FFFF00;
}

.fa-facebook-official:hover,
.fa-twitter:hover,
.fa-google-plus:hover,
.fa-youtube:hover,
.fa-whatsapp:hover,
.fa-snapchat-square:hover{
	color: #d5d5d5;
}
footer{
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding-top: 2rem;
}
hr.light{
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1rem;

}
footer a{
	color: #d5d5d5;
}
hr.light-100{
	border-top: 1px solid #d5d5d5;
	width: 100%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

@media (max-width: 992px) {
	.social a{
		font-size: 4em;
		padding: 2rem;
	}	
}
@media (max-width: 769px){
	.carousel-caption{
	top: 45%;
}
.carousel-caption h1{
	font-size: 350%;
}
.carousel-caption h3{
	font-size: 140%;
	font-weight: 400;
	padding-bottom: .2rem; 
}
.carousel-caption .btn{
	font-size: 95%;
	padding: 8px 14px;
}
.display-4{
	font-size: 200%;
}
.social a{
	font-size: 2.5em;
	padding: 1.5rem;
}
}
@media (max-width: 576px){
	.carousel-caption{
	top: 40%;
}
.carousel-caption h1{
	font-size: 250%;
}
.carousel-caption h3{
	font-size: 110%;
	
}
.carousel-caption .btn{
	font-size: 90%;
	padding: 4px 8px;
}

.carousel-indicators{
	display: none;
}
.display-4{
	font-size: 160%;
}
.social a{
	font-size: 2em;
	padding:.7rem; 
}

}








